.wrapper {  
  background-image: url("virus-legacy.jpg"); 
}
.App{
  text-align: center;
  background-image: url("virus-legacy.jpg");
}
.button {
  transition-duration: 0.4s;
  border: 2px solid #4CAF50; /* Green */
  border-radius: 8px;
  padding: 10px 24px;
  font-size: 16px;
}
.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  background-color: #4CAF50; /* Green */
  color: white;

}
 